* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #BB63D4;
    color: #ddd;
}

.container {
    height: 600px;
    margin: 100px auto 0;
    position: relative;
    width: 1000px;
}

.container>input {
    display: none;
}

.container .controls {
    margin-left: 796px;
    position: absolute;
}

.container .titles {
    position: absolute;
}

.container label {
    height: 20px;
    width: 20px;
    margin: 25px 12px 0 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

.container label::after {
    height: 24px;
    width: 24px;
    left: -4px;
    top: -4px;
    position: absolute;
    display: block;
    content: " ";
    border: 2px solid #ddd;
    border-radius: 50%;
}

.container label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3),
#slide4:checked~.controls label:nth-of-type(4) {
    background: #ddd;
}

#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slide {
    height: inherit;
    width: inherit;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.picture {
    display: block;
    max-width: 100%;
    height: auto;
}

.titles {
    height: 49px;
    width: 796px;
    overflow: hidden;
    position: relative;
}

.title {
    width: 796px;
    margin-top: 13px;
    position: absolute;
    font-size: 30px;
    opacity: 0;
    z-index: 0;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked~.titles>.title1,
#slide2:checked~.titles>.title2,
#slide3:checked~.titles>.title3,
#slide4:checked~.titles>.title4 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

@media (max-width: 320px) {
    .container {
        height: 180px;
        width: 300px;
        margin: 10px auto 0;
        position: relative;
    }
    .container .controls {
        margin-left: 100px;
        position: absolute;
    }
    .container label {
        height: 8px;
        width: 8px;
        margin: 8px 8px 0 6px;
    }
    .container label::after {
        height: 8px;
        width: 8px;
        left: -2px;
        top: -2px;
        border: 2px solid #ddd;
    }
    .titles {
        height: 20px;
        width: 320px;
        top: 210px;
    }
    .title {
        width: 320px;
        margin-top: 2px;
        font-size: 16px;
    }
}